.createContainer {
  display: flex;
  flex-direction: column;
  width: 275px;
}

input {
  margin-bottom: 10px;
}

button {
  width: fit-content;
  background-color: #0d2c40;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}